<div class="col-4 col-sm-4">
    <h3>TODO list <span class="badge badge-secondary">{{$ctrl.todoCount}}</span>
		<small class="text-muted">Click to mark as done</small>
	</h3>
	<ul class="list-group" ng-show="!$ctrl.listEmpty">
	  <li class="list-group-item" ng-repeat="task in $ctrl.todolist">{{ task.title }}</li>
	</ul>
	<div class="alert alert-warning" role="alert" ng-show="!$ctrl.todolist.length">
	  Task list is empty
	</div>
</div>
<div class="col-4 col-sm-4">
	<h3>DONE list <span class="badge badge-secondary">{{$ctrl.doneCount}}</span>
		<small class="text-muted">Click to mark as undone</small>
	</h3>
	<ul class="list-group" ng-show="!$ctrl.undoneListEmpty">
	  <li class="list-group-item" ng-repeat="task in $ctrl.undonelist">{{ task.title }}</li>
	</ul>
	<div class="alert alert-warning" role="alert" ng-show="!$ctrl.donelist.length"">
	 	Task list is empty
	</div>
</div>
<div class="col-4 col-sm-4"></div>