<h3>TODO list <span class="badge badge-secondary">{{$ctrl.countTasks()}}</span>
	<small class="text-muted">Click to mark as done</small>
</h3>
<ul class="list-group" ng-show="$ctrl.countTasks()">
<li class="list-group-item clearfix todoitem" ng-repeat="task in $ctrl.tasks | filter: {done:false}"> {{ task.title }} <button ng-click="$ctrl.taskDone(task.id)" type="button" class="btn btn-success btn-sm pull-right">Done</button></li>
</ul>
<div class="alert alert-warning" role="alert" ng-hide="$ctrl.countTasks()">
	Task list is empty
</div>